<%- include('header'), {title:title} %>
    <div>
        <table>
            <tr>

                <th>title</th>
                <th>authors</th>

            </tr>
            <% booksList.map((book)=>{ %>
                <tr>
                    <td>
                        <a href="/api/books/<%= book.id %>">
                            <%= book.title %>
                        </a>
                    </td>
                    <td>
                        <%= book.authors %>
                    </td>
                </tr>
                <% }) %>

        </table>
        <a href="/" class="back"> Назад</a>
    </div>
    <%- include('end') %>